body {
    color: white;
    background: rgb(208, 29, 187);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border: solid 2px rgb(118, 5, 111);
    padding: 20px;
    font-size: 32px;
    color: rgb(118, 5, 111)
}

.chamada{
    background: rgb(239, 90, 239);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}

.chamada{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2{
    color:rgb(155, 25, 146);
}